@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.App {
  height: 100dvh; /* Adjusts to the dynamic viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Dialog-container {
    margin: 0 !important;
    overflow: hidden !important;
    height: 100dvh !important; /* Adjusts to the dynamic viewport height */
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.shadow-custom {
  box-shadow: 20px 20px 60px #75B681;
}

.arrow {
  filter: invert(1);
}

.card-glass {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.main {
    background: url("./images/GradientGrainy.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dash-bg {

}

.login-bg {
    background: url("./images/bg_geo.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.topo-bg {
    background: url("./images/topo.png");
    background-size: 120%;
    background-repeat: repeat;
}

@keyframes topoAnim {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

@media screen and (max-width: 1140px) {
    .topo-bg {
        animation: topoAnim 50s linear infinite;
        background-size: 400%;
    }
}

.card-border {
    margin: 0 auto;
    padding: 1rem;
    background: #3b82f6;
    text-align: center;
    border-radius: 10px;
    position: relative;
    display: flex;
}

.card-border:after {
    content: '';
    position: absolute;
    height: 110%;
    width: 104%;
    background: #3b82f6;
    opacity: 0.5;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 10px ;
    border-radius: 12px;
    z-index: -1;
}

.card {
    margin: 0 auto;
    padding: 1rem;
    background: #3b82f6;
    text-align: center;
    border-radius: 10px;
    position: relative;
    display: flex;
}


@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.card::after, .card::before {
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 110%;
    width: 104%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 10px ;
    border-radius: 12px;
    z-index: -1;
}

.card::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spinBorder{
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }

}

.card.spin-active::after,
.card.spin-active::before {
    animation: 3s spinBorder linear infinite;
}

