@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&display=swap');

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.App {
  height: 100dvh; /* Adjusts to the dynamic viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-page h1 {
  font-family: 'Bebas Neue', cursive;

}

.shadow-custom {
  box-shadow: 20px 20px 60px #75B681;
}

.arrow {
  filter: invert(1);
}

.card-glass {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.main {
    background: url("./images/GradientGrainy.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dash-bg {

}

